{{#link-to "album" album.uri}}
<div class="album__cover">
  <div class="album__image" style={{backgroundImage}} data-image="{{images.2.uri}}"></div>
  <div class="album__name" title="{{album.name}} ({{album.artists.0.name}} {{album.date}})">
    {{album.name}}{{#if listView}} ({{album.artists.0.name}}{{#if album.date}} {{album.date}}{{/if}})
      {{else if album.date}} ({{album.date}})
    {{/if}}
  </div>
  {{#mf-context-menu tagName="i" class="fa fa-ellipsis-h album__context-menu"
    play=(action 'play') add=(action 'add')
    as |component|}}
    <ul class="context-menu__list">
      <li class="context-menu__list-item" {{action 'handle' 'play' target=component}}>Play album</li>
      <hr class="context-menu__separator">
      <li class="context-menu__list-item" {{action 'handle' 'add' target=component}}>Add to queue</li>
    </ul>
  {{/mf-context-menu}}
</div>
{{/link-to}}

{{#unless listView}}
  {{#each tracks as |track|}}
    {{mf-track track=track}}
  {{/each}}
{{/unless}}
