<div class="footer__track">
  {{#if hasTrack}}
    <span class="footer__track-title">{{currentTrack.name}}</span> -
    <span class="footer__track-artist">{{currentTrack.artists.firstObject.name}}</span>
  {{/if}}
</div>

<div class="row footer__controls">
  <div class="footer__center small-12 medium-3 large-2">
    <button class="control">
      <i class="control__icon fa fa-step-backward"></i>
    </button>
    <button class="control" {{action "togglePlayPause"}}>
      <i class="control__icon fa {{if isPlaying 'fa-pause' 'fa-play'}} control__icon--playpause"></i>
    </button>
    <button class="control">
      <i class="control__icon fa fa-step-forward"></i>
    </button>
  </div>
  <div class="footer__center small-12 medium-6 large-8">
    <div class="footer__time">
      {{format-duration currentProgress}}
    </div>

    {{mf-slider currentPosition=currentProgressPercent onMouseUp=(action 'setProgress')}}

    <div class="footer__time">
      {{format-duration (if hasTrack currentTrack.length 0)}}
    </div>
  </div>
  <div class="footer__center small-12 medium-3 large-2">
    {{mf-volume-control}}
  </div>
</div>