<div class="small-12 medium-4 column track__title">
  {{track.name}}
</div>
<div class="small-5 medium-3 column track__artist">
  {{#link-to "artist" track.artists.firstObject.uri}}
    {{track.artists.firstObject.name}}
  {{/link-to}}
</div>
<div class="small-5 medium-3 column track__album">
  {{track.album.name}}
</div>
<div class="small-1 medium-1 column track__duration">
  {{format-duration track.length}}
</div>
<div class="small-1 column track__context-menu">
{{#mf-context-menu tagName="i" class="fa fa-ellipsis-h"
  play=(action 'play') add=(action 'add') remove=(action 'remove')
  as |component|}}
  <ul class="context-menu__list">
    <li class="context-menu__list-item" {{action 'handle' 'play' target=component}}>Play</li>
    <hr class="context-menu__separator">
    <li class="context-menu__list-item" {{action 'handle' 'add' target=component}}>Add to queue</li>
    <li class="context-menu__list-item" {{action 'handle' 'remove' target=component}}>Remove from queue</li>
  </ul>
{{/mf-context-menu}}
</div>