<div class="loader">
  <img src="assets/images/loading.gif" class="loader__image">
</div>

<div class="sidebar">
  <ul class="sidebar__menu">
    <li class="sidebar__menu-item">{{link-to "Queue" "queue" class="sidebar__menu-link"}}</li>
    <li class="sidebar__menu-item">{{link-to "Playlists" "playlists" class="sidebar__menu-link"}}</li>
    <li class="sidebar__menu-item">{{link-to "Browse" "browse" class="sidebar__menu-link"}}</li>
    <li class="sidebar__menu-item">{{link-to "Search" "search" class="sidebar__menu-link"}}</li>
    <li class="sidebar__menu-item">{{link-to "Settings" "settings" class="sidebar__menu-link"}}</li>
  </ul>
</div>

<div class="content">
  {{outlet}}
</div>

{{mf-player}}