{{#ember-wormhole to="header-content"}}
  {{model.artist.name}}
{{/ember-wormhole}}

<div class="section-header__cover">
  <img src={{model.artist.images.0.uri}} class="section-header__cover-image" />
  <div class="section-header__cover-overlay">
    {{model.artist.name}}
  </div>
</div>

<div class="section-body">
  {{#if model.albums}}
    <div class="artist__album-container">
      <h3 class="artist__album-header">Albums</h3>
      <div class="row playlist-tiles">
        {{#each model.albums as |album|}}
          {{mf-playlist-tile playlist=album linkType="album"}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if model.singles}}
    <div class="artist__album-container">
      <h3 class="artist__album-header">Singles</h3>
      <div class="row playlist-tiles">
        {{#each model.singles as |album|}}
          {{mf-playlist-tile playlist=album linkType="album"}}
        {{/each}}
      </div>
    </div>
  {{/if}}


  {{#if model.appearsOn}}
    <div class="artist__album-container">
      <h3 class="artist__album-header">Appears on</h3>
      <div class="row playlist-tiles">
        {{#each model.appearsOn as |album|}}
          {{mf-playlist-tile playlist=album linkType="album"}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>